body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
b, .red{ color: rgb(179, 41, 17); }
.red:hover{ text-decoration: none; }
.black { color: #212529; }
.smaller{ font-size: 1.15rem!important; }

.content{
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.background{
  background-image: url('/images/backgrounds/peony_background_bw_2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  position: absolute;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  z-index: -2;
  left: 0;
  top: 0;
}

#darken{
  background-color: rgb(0,0,0);
  transition: opacity 0.25s ease;
  transition: background-color 0.25s ease;
  position: absolute;
  cursor: pointer;
  z-index: -10;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
}
#darken:hover{
  background-color: rgb(85, 85, 85);
}

.twitter-div{
  overflow-y: scroll!important;
  background-color: white;
  position: absolute;
  display: none;
  padding: 0px;
  height: 100%;
  z-index: 10;
  width: 20%;
  left: 0px;
}

.main-div{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-div{
  grid-row-start: 2;
  grid-row-end: 3;
}

#scroll{
  grid-row-start: 3;
  grid-row-end: 4;
  place-self: end;
}
.scrollup-btn:hover{ cursor: pointer; }

.title{
  color: rgb(179, 41, 17);
  font-size: 4.25rem;
  font-weight: 300;
  border-bottom: 4px solid #363636;
  border-left: 4px solid #363636;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
}

.pages{
  opacity: 0.8;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

@media only screen and (max-width: 1080px){
  .pages{
    grid-template-columns: 1fr 16fr 1fr;
  }

  .twitter-div{
    width: 50%;
  }
}

.page-title{
  font-size: 4rem;
  font-weight: 300;
  border-bottom: 2px solid;
  margin-bottom: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  text-transform: uppercase;
}

#about-us{
  margin-left: 10rem;
  margin-right: 10rem;
}

#about-us-div{
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
}
.btn-secondary{ background-color: rgb(179, 41, 17)!important; }
.about-us-text{ font-size: 1.18rem!important; }
.team-member{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2rem;
}
.team-member-image{ align-self: center; }
.agent-image{ max-width: 100%; }

.scrollup-div{
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 2;
  width: 100%;
  height: 80%;
}
#scrolldowna:hover{ cursor: pointer; }

#submit-title{
  margin-left: 15rem;
  margin-right: 15rem;
}

#submit-div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center;
}

#contact-div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center;
}
.email-div{
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.email{ color: rgb(179, 41, 17); }
.email:hover{ text-decoration: none; color: rgb(117, 27, 11); }
.email:hover::before{ 
  content: '[';
  margin-right: 0.5rem;
}
.email:hover::after{
  content: ']';
  margin-left: 0.5rem;
}
.email-parent a:hover{ text-decoration: none; }

#authors-div{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  place-self: center;
}

#authors-subdiv{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;
  display: grid; 
  height: 100%;
  width: 100%;
}
#authors-subdiv a:hover{ text-decoration: none!important; }

.author-box{
  background-size: cover;
  transition: 0.75s;
  height: 275px;
  width: 100%;
}

.author-name-box{
  transition: background-color 0.5s ease;
  display: grid;
  height: 100%;
  width: 100%;
}
.author-name{
  transition: opacity 0.5s ease;
  color: rgb(163, 24, 24); 
  place-self: center;
  margin: 1rem;
  opacity: 0;
  z-index: 6;
}

.page-header{
  font-size: 1.25rem;
}

.scroll-div{
  position: absolute;
  top: 0%;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.extra-top-bottom{
  margin-top: 5rem!important;
  margin-bottom: 5rem!important;
}
.extra-top{ margin-top: 5rem!important; }

#scroll a {
  padding-top: 60px;
}
#scroll a span {
  position: absolute;
  transform: translate(0, -250%);
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 100%;
  box-sizing: border-box;
}
#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

.scrollup a span {
  position: absolute;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid rgb(27, 27, 27);
  border-radius: 100%;
  box-sizing: border-box;
}
.scrollup a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -4px 0 0 -8px;
  border-left: 1px solid rgb(27, 27, 27);
  border-bottom: 1px solid rgb(27, 27, 27);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  box-sizing: border-box;
}
.scrollup a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

.scrollup{
  height: 100%;
  width: 100%;
}


@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(128, 47, 71, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

