* {
    font-family: 'Open Sans';
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#logo{
    width: 115%;
    position: relative;
}
#social:hover{ cursor: pointer; }

.nav-text{ color: rgb(41, 41, 41)!important; }

#navButton{ 
	display: none; 
	border: 5px solid rgb(43, 41, 41);
	width: 22vw;
	height: 9%;
	position: absolute;
	margin-left: 1rem;
	margin-top: 1rem;
	grid-template-rows: 1fr 1fr 1fr;
	place-items: center;
	padding: .5rem;
	z-index: 100;
	cursor: pointer;
	transition: 0.3s;
}
#navButton:hover { background-color: rgb(41, 41, 41); }
#navButton:hover .bar{ background-color: rgb(179, 41, 17); box-shadow: -4px 3px white; }
.bar{ 
	width : 80%;
	height: 33%;
	background-color: black;
	box-shadow: -4px 3px rgb(179, 41, 17);
}
#smallNavMenu{
	display: grid;
	position: absolute;
	top: -100%;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 1000;
	place-items: center;
}
#smallNavMenuClose{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 1rem;
	margin-right: 1rem;
	width: 10%;
	height: 10%;
	cursor: pointer;
}
#smallNavMenuClose:hover #cbl { background-color: rgb(119, 119, 119); } 
#smallNavMenuClose:hover #cbr { background-color: rgb(119, 119, 119); } 
#cbl{
	height: 4px;
	width: 50px;
	position: absolute;
	margin-top: 24px;
	background-color: rgb(20, 20, 20);
	border-radius: 2px;
	transform: rotate(45deg);
	transition: all .3s ease-in;
}
#cbr{
	height: 4px;
	width: 50px;
	position: absolute;
	margin-top: 24px;
	background-color: rgb(20, 20, 20);
	border-radius: 2px;
	transform: rotate(-45deg);
	transition: all .3s ease-in;
}


.smallNavMenuAnim{
	animation-name: moveDown;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}
@-webkit-keyframes moveDown {
	from { top: -100%; }
	to { top: 0%; }
}
@keyfraames moveDown{
	from { top: -100%; }
	to { top: 0%; }
}
.smallNavMenuAnimClose{
	animation-name: moveUp;
	animation-fill-mode: forwards;
	animation-duration: 1s;
}
@-webkit-keyframes moveUp{
	from { top: 0%; }
	to { top: -100%; }
}

.nav-link{
    color: #272727;
    font-size: 1rem; 
    transition: 0.5s;
}

.nav-link:hover{
    color: #dbd3d3;
}

.navbar{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

nav a, #smallNavMenu a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.959);
	font-size: 1.35em;
}

.navbar a, #smallNavMenu a {
	color: #2b2b2b;
	text-shadow: none;
	padding: 10px 0;
}

.navbar a::before, #smallNavMenu a::before {
	color: #fff;
	text-shadow: 0 0 1px rgb(255, 255, 255);
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.navbar a::after, #smallNavMenu a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background: rgb(179, 41, 17);;
	opacity: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

@media only screen and (max-width: 1080px){
	nav a{
		margin: 0.5rem;
		font-size: 1.6rem!important;
		margin-top: 1rem;
	}

	nav .container{
		max-width: 100%!important;
		margin: 0;
	}

	.container{
		padding: 0px;
	}

	.nav-link{
		font-size: 3rem!important;
	}

	#scroll a span, .scrollup a span{
		width: 80px;
		height: 80px;
	}
	#scroll a span::before, .scrollup a span::before{
		width: 80px;
		height: 80px;
	}
}

.navbar a:hover, #smallNavMenu a:hover{
    color: rgba(53, 53, 53, 0.63);
}

.navbar a:hover::before,
.navbar a:focus::before,
.navbar a:active::before,
.active::before,
#smallNavMenu a:hover::before,
#smallNavMenu a:focus::before,
#smallNavMenu a:active::before {
	opacity: 1!important;
	-webkit-transform: translateY(-2px)!important;
	-moz-transform: translateY(-2px)!important;
	transform: translateY(-2px)!important;
}

.navbar a:hover::after,
.navbar a:focus::after,
.navbar a:active::after,
#smallNavMenu a:hover::after,
#smallNavMenu a:focus::after,
#smallNavMenu a:active::after,
.active::after {
	opacity: 1!important;
	-webkit-transform: translateY(0px)!important;
	-moz-transform: translateY(0px)!important;
	transform: translateY(0px)!important;
}

@media only screen and (max-width: 1080px){
	.twitter-div{ width: 50%; }
	nav{ display: none!important; }
	#navButton{ display: grid; }
  }
